.main {
    float: left;
    width: 650px;
}
.side {
    float: left;
    width: 250px;
}
.unlogged .button {
    margin: 0 5px;
}
.event-list .list-entry {
    padding: 10px 0;
}
.event-list .title {
    font-size: 1.2em;
}
.member-list .list-entry {
    float: left;
    padding: 8px;
}
.bottom-button-area {
    margin-top: 10px;
}
/******活动详情******/
.event-info {
    position: relative;
    margin-bottom: 10px;
}
.event-join {
    position: absolute;
    bottom: 0px;
    right: 200px;
}
.event-info .title {
    font-size: 2em;
}
.event-member {
    margin-bottom: 10px;
}
.event-member .member-item {
    display: inline-block;
    text-align: center;
}
#cancel {
    cursor: pointer;
    margin-left: 5px;
    color: #d6d6d6;
}
.event-manage {
    margin-bottom: 10px;
}
#memo {
    margin-top: 10px;
}
.memo-name {
    display: inline-block;
    width: 60px;
}
.previous-event-link {
    margin-top: 20px;
}
#member-confirm {
    margin-top: 10px;
}
.footprint {
    display: inline-block;
    width: 20px;
    height: 26px;
    background-image: url(../img/foot.png);
}
.foot-right {
    background-position: -20px 0; 
}
.personal-page .avatar-wrapper {
    float: left;
    width: 90px;
    text-align: center;
}
